/* 
  Most styles have been moved to App.css to work with the new design system.
  This file is for the most foundational, global styles only.
*/

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}
